*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body{
	overflow-y: hidden!important;
	overflow-x: hidden!important;
}
/* Clases especiales */
.titulo a{
	font-size: 0.8em;
}

/* Contenedor */

/* Migas de Pan */

/* Titulo */

/* Área Principal */
section{
	/*height: 80vh;*/
	overflow-y: scroll!important;
	overflow-x: hidden!important;
}

/* < Tablet */
@media only screen and (max-width: 991px) {
	section{
		height: 78vh;
		overflow-y: scroll!important;
		overflow-x: hidden!important;
	}
}