*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
/* clases especiales */
.titulo{
	background: #343A40;
}
/* Contenedor */
.container{
	width: 100%;
	max-width: 1200px;
	margin: auto;
}
nav{	
	background: #EF8814;	
}
nav .logo{
	background: #F8F9F9;	
}

/* Encabezado */
header{
	border-left: 1px solid #dee2e6!important;	
	border-right: 1px solid #dee2e6!important;	
}
/* Portafolio */
/* Nosotros */

/* Contáctenos */
.col-arr{
	height: 70%;
}
.col-abj{
	height: 30%;
}

/* Pie de página */
footer{
	background: #343A40;	
}
