*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
/* clases especiales */

/* Contenedor */
.container{
	width: 100%;
	max-width: 1200px;
	margin: auto;
}
nav{	
	background: #EF8814;
	border-bottom: 1px solid #dee2e6!important;	
}
nav .logo{
	background: #F8F9F9;	
}

/* Encabezado */
/* Portafolio */
/* Nosotros */

/* Contáctenos */
.col-arr{
	height: 70%;
}
.col-abj{
	height: 30%;
}

/* Pie de página */
footer{
	background: #2D394B;
}
