table {
	font-family: arial, sans-serif;
	border-collapse: collapse;	
	margin: auto;
}
td, th {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
}
tr:nth-child(even) {
	background-color: #dddddd;
}
.fondo{
	background: #000;
	color: #fff;
}
h1{
	text-align: center;
}
.izq{
	text-align: left;
}
.min-fuente{
	font-size: 0.8em;	
}
