*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
/* clases especiales */


/* Contenedor */
.container{
	width: 100%;
	max-width: 1200px;
	margin: auto;
}

/* Navegador */
.navegacion{
	/*height: 60px;*/
}
nav{	
	background: #2D394B;
}
nav .logo{
	background: #F8F9F9;
}
nav .logo img{
	width: 40%;
	height: auto;
}
.entregable{
	height: 78vh;
}
aside .modulos{
	height: 65.1vh;
	overflow-y: scroll;
	overflow-x: hidden;
}
aside .card-header{
	background: #2D394B!important;	
}
aside h2 button{
	color: #fff!important;
	text-decoration: none!important;
}
/* Secciones */
header, section{
	/*height: 500px;*/
}

/* Área Principal */
main iframe{
	width: 100%;
	height: 75.8vh;
	border: 0;
}


/* Contáctenos */
.col-arr{
	height: 70%;
}
.col-abj{
	height: 30%;
}

/* Pie de página */
footer{
	background: #2D394B;
}
footer h6{
	font-size: 0.8em;
	margin: 0;
}

/* Tablet */
@media only screen and (max-width: 991px) {
	nav .logo img{
		width: 35%;
	}
	.entregable{
		height: auto;
	}
	main iframe{		
		height: 100%;
	}
}