*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
/* clases especiales */


/* Contenedor */
.contenedor{
	width: 100%;
	max-width: 1200px;
	margin: auto;
}

/* Navegador */
nav{
	background: #2D394B;
}

/* Secciones */
header, section{
	/*height: 500px;*/
}

/* Encabezado */


/* Portafolio */


/* Nosotros */


/* Contáctenos */
.col-arr{
	height: 70%;
}
.col-abj{
	height: 30%;
}

/* Pie de página */
footer{
	background: #2D394B;
}