@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	background: #1B1D35;
	color: #FFF;
}
.derecha{
	text-align: right;
}
a{
	text-decoration: none;	
	color: #B8711B;
}
a:hover{
	text-decoration: underline;
}
.contenedor{
	max-width: 1200px;
	width: 90%;
	margin: auto;
	padding: 20px;
}
.titulo{
	font-weight: 300;
	color: #B8711B;
	text-align: center;
	margin: 60px 0 30px 0;
}
.border{
	border: none;
	margin-bottom: 5px;
	border-top: 10px solid #B8711B;
	background: none;
	color: none;
}
.formulario{
	background: #2C2C47;
	padding: 30px;
	margin-bottom: 30px;
}
.formulario .form-group{
	width: 100%;
	margin-bottom: 10px;
}
.formulario input[type="text"],
.formulario input[type="password"] {
	padding: 15px;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	line-height: 18px;
	border: none;
	vertical-align: top;
}
.formulario .icono{
	padding: 15px;
	text-align: center;
	width: 48px;
	max-height: 48px;
	font-size: 18px;
	line-height: 18px;
	background: #C8C8C8;
	display: inline-block;
	color: #6B6B6B;
	vertical-align: top;
}
.formulario .icono.izquierda{
	margin-right: 4px;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-ms-border-radius: 0 3px 3px 0;
	-o-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}
.formulario .usuario,
.formulario .password{
	width: calc(100% - 52px);
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-ms-border-radius: 0 3px 3px 0;
	-o-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}
.formulario .password_btn {
	width: calc(100% - 105px);
}
.formulario .error ul{
	padding: 0 15px;
}
.formulario .error ul li{
	margin-bottom: 10px;
}
.formulario .submit-btn{
	padding: 15px;
	text-align: center;
	width: 48px;
	max-height: 48px;
	font-size: 18px;
	line-height: 18px;
	background: #679863;
	display: inline-block;
	color: #FFF;
	background: #769766;
	cursor: pointer;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-ms-border-radius: 0 3px 3px 0;
	-o-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.texto-registrate{
	text-align: center;
}

.texto-registrate a{
	display: block;
	font-size: 18px;
}

.contenido article {
	padding: 30px;
	background: #FFF;
}
.contenido article p{
	margin-bottom: 10px;
	color: #000;
}